{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Polls	{% endblock %}

{% block navbar-left %}{% include "_navbar.html" with active_link="polls" %}{% endblock %}


{% block container %}
<div class="container">
	<h1>{{ question.question_text }}</h1>
	
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	
	<form action="{% url 'polls:vote' question.id %}" method="post">
		{% csrf_token %}
		{% for choice in question.choice_set.all %}
		    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
		    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
		{% endfor %}
		<input type="submit" value="Vote" />
	</form>
</div>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}